@tailwind base;
@tailwind components;
@tailwind utilities;

// 滚动条
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb{
    border-radius: 1em;
    background-color: rgba(50,50,50,.3);
}
::-webkit-scrollbar-track{
    border-radius: 1em;
    background-color: rgba(50,50,50,.1);
}

body{
    font-family: AlibabaPuHuiTi, sans-serif;
}

a{
    @apply text-blue-500;
}

hr{
    @apply border-gray-300;
    @apply dark:border-gray-600;
}
.page-wrapper{
    @apply bg-gray-100 min-h-screen;
    @apply dark:bg-gray-700;
}
